################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/filam-volunteer-api/.vs
/filam-volunteer-api/FilamVolunteer.API/bin/Debug/net8.0
/filam-volunteer-api/FilamVolunteer.API/obj
/filam-volunteer-api/FilamVolunteer.API/appsettings.Development.json
